body {
    margin: 0px;
}

header {
    height: 8vh;
    font-size: 8vh;
    padding: 10px;
    background-color: lightblue;
    width: 100vw;
    text-align: center;
    animation: header 1s infinite
}

@keyframes header {
    25% { background-color: lightcoral; }
    50% { background-color: lightgreen; }
    75% { background-color: lightsalmon; }
    100% { background-color: lightskyblue; }
}

main {
    margin: 5vh 25vw 5vh 25vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 6vh;
    background-color: lightblue;
    font-size: 6vh;
    padding: 10px;
    width: 100vw;
    text-align: center;
    animation: footer 1s infinite;
}

@keyframes footer {
    25% { background-color: lightcoral; }
    50% { background-color: lightgreen; }
    75% { background-color: lightsalmon; }
    100% { background-color: lightskyblue; }
}

#box {
    height: 65vh;
    border-radius: 50px;
    background-color: lightblue;
    animation: div 3s infinite;
}

@keyframes div {
    25% { background-color: lightcoral; }
    50% { background-color: lightgreen; }
    75% { background-color: lightsalmon; }
    100% { background-color: lightskyblue; }
}

input {
    height: 80%;
    width: 50%;
    font-size: 2em;
    color: lightblue;
    text-align: center;
}

.input-box {
    padding-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 8%;
}

.flexBox {
    margin-top: 10%;
    margin-left: 2vw;
    margin-right: 4vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    height: 10vh;
    width: 40vw;
}

.flexBox div {
    color: black;
    border: 1px solid black;
    margin: 5%; 
    padding: 10%;
    font-size: 2em;
    text-align: center;
}