body {
    margin: 0px;
}

header {
    position: fixed;
    top: 0px;

    background-color: black;
    height: 10vh;
    width: 100vw;

    display: flex;
    align-items: center;
}

header > a {
    height: 8vh;
    padding: 1px;
    margin: 10px;
    margin-left: 1vw;

    display: flex;
    align-items: center;

    text-decoration: none;
}


header > a > img {
    background-color: white;
    border-radius: 1vw;
    height: 8vh;
    margin-right: 10px;
}

header > a > h1 {
    color: white;
    font-size: 6vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

header a > h1:hover {
    color: lightgray;
}

footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;

    background-color: black;
    color: white;

    font-size: large;

    width: 100vw;
    height: 3vh;
}

main { 
    margin-top: 10vh;
    background-color: rgba(12, 12, 12, 0.895);

    min-height: 100vh;
    width: 100vw;
}

.navigation {
    margin: 5px;
    position: fixed;
    height: 100vh;
    width: 8vw;
    padding: 0;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 6vw;
}

.list {
    margin: 5px;
}

.list a {
    background-color: white;
    color: rgba(12, 12, 12, 0.895);
    font-size: 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    border-radius: 1vw;
    text-decoration: none;
    width: 3vw;
}

.list a:hover {
    background-color: lightgray;
    width: 4vw;
}

.list a img {
    height: 50%;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .navigation {
        width: 100vw;
        height: 8vh;
        padding: 0;
        top: 8vh;
    }

    .navigation ul {
        width: 100vw;
        height: 7vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
