<mat-toolbar>
  <div class="title">
    <button mat-icon-button>
     </button>
     <span>My App</span>
  </div>
  <div class="icons">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-tab-group animationDuration="2000ms">
  <mat-tab label="Home"></mat-tab>
  <mat-tab label="Funcionários"></mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>

<footer>
  <span>Luiz Henrique Martendal</span>
</footer>





















,
