<mat-toolbar>
  <div class="title">
    <button mat-icon-button>
     </button>
     <span routerLink="home">My App</span>
  </div>
  <div class="icons">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="button-row">
  <button routerLink="home" mat-button active routerLinkActive="button-active">Home</button>
  <button routerLink="funcionarios" mat-button routerLinkActive="button-active">Funcionários</button>
</div>

<router-outlet></router-outlet>

<footer>
  <span>Luiz Henrique Martendal</span>
</footer>





















,
