<app-description [title]="title"></app-description>

<div class="input-container">
  <mat-card>
    <mat-card-content>
      <section>
        <input [(ngModel)]="id"
              matInput
              #message
              maxlength="256"
              placeholder="Entre com o Id">
      </section>
      <button mat-raised-button (click)="getById()">Consultar</button>
    </mat-card-content>
  </mat-card>
</div>

<div class="container" *ngIf="cadastro2">
  <mat-card class="container-info">
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>Id</ng-template>
        <div class="small-box">
          {{ cadastro2.id }}
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Nome</ng-template>
        <div class="small-box">
          {{ cadastro2.nome }}
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Departamento</ng-template>
        <div class="small-box">
          {{ cadastro2.departamento }}
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Endereço</ng-template>
        <div class="small-box">
          {{ cadastro2.endereco }}
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Email</ng-template>
        <div class="small-box">
          {{ cadastro2.email }}
        </div>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button color="primary" (click)="delete()">Deletar</button>
  </mat-card>
</div>

<div class="container2" *ngIf="cadastro2">
  <mat-card class="container-update">
    <form [formGroup]="formCadastro2" (submit)="update()">
      <section>
        <input matInput
              #message
              maxlength="256"
              placeholder="Entre com o Id"
              formControlName="id">
      </section>
      <section>
        <input matInput
              #message
              maxlength="256"
              placeholder="Entre com o Nome"
              formControlName="nome">
      </section>
      <section>
        <input matInput
              #message
              maxlength="256"
              placeholder="Entre com o Departamento"
              formControlName="departamento">
      </section>
      <section>
        <input matInput
              #message
              maxlength="256"
              placeholder="Entre com o Endereço"
              formControlName="endereco">
      </section>
      <section>
        <input matInput
              #message
              maxlength="256"
              placeholder="Entre com o Email"
              formControlName="email">
      </section>
      <button class="inserir-button" mat-raised-button [disabled]="formCadastro2.invalid">Inserir</button>
    </form>
  </mat-card>
</div>
