body {
    margin: 0px;
}

header {
    height: 8vh;
    font-size: 8vh;
    padding: 10px;
    background-color: lightblue;
}

main {
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 6vh;
    background-color: lightblue;
    font-size: 6vh;
    padding: 10px;
    width: 100vw;
}

#input, #button {
    padding: 10px;
}

p {
    width: 20vw;
}
